<%= render "books/nav", locals: { user: @user }  %>

<div class="panel-body">
  <div class="row-center">
    <div class="col-xs-4 col-xs-offset-1">
      <h1>join book club</h1>

      <form role="form">
      <!-- new user form -->
      <%= form_for @user do |f| %>

        <%= f.label :first_name %>:
        <%= f.text_field  :first_name, class: "form-control", :autofocus => true %>
        <br>

        <%= f.label :last_name %>:
        <%= f.text_field :last_name, class: "form-control"  %>
        <br>

        <%= f.label :email %>:
        <%= f.email_field :email, class: "form-control"  %>
        <br>

        <%= f.label :password %>:
        <%=  f.password_field :password, class: "form-control" %>
        <br>

        <%= f.label :image_url, "Profile picture" %>:
        <%= f.text_field :image_url, :placeholder => "URL", class: "form-control" %>


        <div class="form-group">
          <%= f.submit "Save!", class: "form-control btn btn-success" %>
        </div>

      <% end %>
      </form>
    </div>
    <div class="col-xs-5 col-xs-offset-1 join">
      <h3>by joining <strong>book club</strong> you can: </h3>
      <ul>
        <li>add books to your queue for future reading</li>
        <li>keep track of books you've already read</li>
        <li>start or join discussions on books you're reading now</li>
      </ul>
    </div>
  </div>
</div>