<%= render "books/nav" %>

<div class="container-fluid">
  <div class="row" id="row-1">
    <div class="col-xs-4 col-xs-offset-1">
        <img id="user-profile-pic" src="<%= @user.image_url %>">
        <h4 id="user-name"><%= @user.first_name %> <%= @user.last_name %> </h4>
    </div>
  </div>

  <div class="row" id="row-2">
    <div class="col-xs-10 col-xs-offset-1">
      <h3><%= @user.first_name %>'s Library</h3>

      <h4>In <%= @user.first_name %>'s Queue: </h4>
      <% @favorites.each do |fave| %>
        <% if fave.status == "queue" %>
          <% queue = fave.book_id  %>
          <% @books.each do |book| %>
            <% if book.id == queue %>
              <a href="/books/<%= book.id %>"><img class="book" src="<%= book.lg_img %>"></a>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h4>Past Books: </h4>
      <% @favorites.each do |fave| %>
        <% if fave.status == "read" %>
          <% read = fave.book_id  %>
          <% @books.each do |book| %>
            <% if book.id == read  %>
              <a href="/books/<%= book.id  %>"><img class="book" src="<%= book.lg_img %>"></a>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
