<%= render "nav", locals: { user: @user } %>

  <div class="panel-body">
    <div class="jumbotron">
      <div class="container-fluid">
        <h1>book club</h1>
      </div>
    </div>

    <% flash.each do |k, v|%>
      <div class="alert alert-success" role="alert">
        <p id="<%= k %>"><%= v %></p>
      </div>
    <% end %>

    <%= form_for @book do |f| %>
      <%= f.text_field :title %>
      <%= f.submit "Search Book" %>
    <% end %>


    <div class="row-center">
      <div class="col-xs-12 books">
        <% @books.each do |book| %>
         <a href="javascript:void(0)"><img class="book" src="<%= book.lg_img %>"></a>
        <% end %>
      </div>
    </div>

  </div>
