<%= render "nav", locals: { user: @user } %>
<%= render "header"  %>

<div class="row">
  <div class="col-xs-12 amazon">
  <p>Are we missing the book you're looking for? <a href="javascript:void(0);" class="amazon-link">Add it now!</a></p>
  </div>
</div>


 <div class="panel-body">
    <% flash.each do |k, v|%>
      <div class="alert alert-success" role="alert">
        <p id="<%= k %>"><%= v %></p>
      </div>
    <% end %>

<%= render "searchmodal" %>


  <div class="row-center">
    <div class="col-xs-12 books">
      <!-- all books, with code for fancy box popup -->
      <% @books.each do |book| %>
       <a class="fancybox" title="<h4><%= book.title %></h4><h5>Written by: <%= book.author %></h5><a href='/books/<%= book.id %>'>See More...</a>" rel="group" href="<%= book.lg_img %>"><img class="book" src="<%= book.lg_img %>"></a>
      <% end %>
    </div>
  </div>


</div>
