<%= render "nav" %>
<%= render "header"  %>

<div class="panel-body">
   <!-- previous button -->
  <% if @book.id != 1 %>
    <a href="/books/<%= @book.id - 1%>" class="prev">Previous</a>
  <% end %>
  <!-- next button -->
  <% if @book.id != @books %>
    <a href="/books/<%= @book.id + 1%>" class="next">Next</a>
  <% end %>


  <div class="row">
    <div class="row-center">

      <!-- book image -->
      <div class="col-xs-4 col-xs-offset-1">
        <a href="<%= @book.link %>" target="_blank"><img src="<%= @book.lg_img  %>"></a>
      </div>

      <!-- description -->
      <div class="col-xs-6">
        <div class="book-description">
          <h3><%= @book.title %></h3>
          <h4><%= @book.author %></h4>
          <p><strong>Description:</strong></p>
          <p><%=raw @book.description  %></p>
        </div>
        <div class="buttons">
          <% if @current_user %>
              <% if !@this_book %>
                <p style="color: #474A7F" id="book-status"></p>
                <!-- button to add to read -->
                <form action="/books/<%= @book.id %>/favorites" method="post" class="read-it">
                <%= token_tag form_authenticity_token %>
                  <input type="hidden" name="favorite[status]" class="read-val" value="read">
                  <div class="form-group">
                    <input type="submit" value="I've Read It!" class="form-control btn btn-default" id="read-button">
                  </div>
                </form>

                <!-- button to add to queue -->
                <form action="/books/<%= @book.id %>/favorites" method="post" class="queue-it">
                <%= token_tag form_authenticity_token %>
                  <input type="hidden" name="favorite[status]" class="queue-val" value="queue">
                  <div class="form-group">
                    <input type="submit" value="Add to Queue" class="form-control btn btn-warning" id="queue-button">
                  </div>
                </form>

              <!-- if already added to list -->
              <% else %>
                <p>This book is already on your list!</p>
                <div class="form-group">
                  <button class="form-control btn btn-default disabled">I've Read It!</button>
                </div>
                <div class="form-group">
                  <button class="form-control btn btn-warning disabled">Add to Queue</button>
                </div>
              <% end %>

          <!-- if not logged in-->
          <% else %>
            <p>Signup to create a reading list!</p>
              <div class="form-group">
                <button class="form-control btn btn-default disabled">I've Read It!</button>
              </div>
              <div class="form-group">
                <button class="form-control btn btn-warning disabled">Add to Queue</button>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


    <div class="row">
      <div class="col-xs-11 col-xs-offset-1" id="convo-hed">
        <h3>Spoilers below!</h3>
        <a href="javascript:void(0);" id="spoilers"><h5>Read the book? Join the discussion!</h5></a>
      </div>
    </div>

    <div class="row" id="discussions">
      <div class="col-xs-12">
        <div class="col-xs-4 col-xs-offset-1">
          <div class="form-group">
            <%= form_for ([@book, @comment]) do |f| %>
            <div class="form-group">
              <%= f.label :title, "Start a new discussion:" %>
              <%= f.text_field :title, class: "form-control", id: "title-val" %>
            </div>
            <div class="form-group">
              <%= f.label :body, "Include a comment:" %>
              <%= f.text_area :body, class: "form-control", id: "body-val" %>
            </div>
            <div class="form-group">
              <%= f.submit "Post", class: "form-control btn btn-default" %>
            </div>
            <% end %>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="all-comments">
           <h4>What people are talking about: </h4>

          <% @book.comments.each do |comment| %>
            <div class="indiv-comment">
              <p><strong><%= comment.title %></strong>
              <br>
              <span class="comment-toggle"><a href="javascript:void(0);">See full discussion</a></span></p>
              <p class="comment-body"><%= comment.body %></p>
            </div>
          <% end %>



          </div>
        </div>
      </div>
    </div>
  </div>

