<%= render "nav" %>

  <div class="panel-body">
    <div class="jumbotron">
      <div class="container-fluid">
        <h1>book club</h1>
      </div>
    </div>

    <div class="row">
      <div class="row-center">
      <div class="col-xs-4">
        <a href="<%= @book.link %>" target="_blank"><img src="<%= @book.lg_img  %>"></a>
      </div>
      <div class="col-xs-4">
        <h3><%= @book.title %></h3>
        <h4><%= @book.author %></h4>
        <p><strong>Description:</strong></p>
        <p><%=raw @book.description  %></p>
      </div>

      <div class="col-xs-3 col-xs-offset-1">
        <% if @current_user %>

            <% if !@this_book %>
              <p id="book-status" style="color:blue"></p>

              <!-- button to add to read -->
              <form action="/books/<%= @book.id %>/favorites" method="post" class="read-it">
              <%= token_tag form_authenticity_token %>
                <input type="hidden" name="favorite[status]" class="read-val" value="read">
                <div class="form-group">
                  <input type="submit" value="I've Read It!" class="form-control btn btn-default">
                </div>
              </form>

              <!-- button to add to queue -->
              <form action="/books/<%= @book.id %>/favorites" method="post" class="queue-it">
              <%= token_tag form_authenticity_token %>
                <input type="hidden" name="favorite[status]" class="queue-val" value="queue">
                <div class="form-group">
                  <input type="submit" value="Add to Queue" class="form-control btn btn-warning" >
                </div>
              </form>
            <!-- if already added to list -->
            <% else %>
              <p>This book is already on your list!</p>
              <div class="form-group">
                <button class="form-control btn btn-default disabled">I've Read It!</button>
              </div>
              <div class="form-group">
                <button class="form-control btn btn-warning disabled">Add to Queue</button>
              </div>
            <% end %>

        <!-- if not logged in-->
        <% else %>
          <p>Signup to create a reading list!</p>
            <div class="form-group">
              <button class="form-control btn btn-default disabled">I've Read It!</button>
            </div>
            <div class="form-group">
              <button class="form-control btn btn-warning disabled">Add to Queue</button>
            </div>

        <% end %>
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3 col-xs-offset-1" id="discussion-text">
        <h3>Join the discussion: </h3>
      </div>
    </div>

    <div class="row-discussions">
      <div class="col-xs-4 col-xs-offset-1">
        <div class="form-group">
          <%= form_for ([@book, @comment]) do |f| %>
          <div class="form-group">
            <%= f.label :title, "Start a new discussion:" %>
            <%= f.text_field :title, class: "form-control", id: "title-val" %>
          </div>
          <div class="form-group">
            <%= f.label :body, "Include a comment:" %>
            <%= f.text_area :body, class: "form-control", id: "body-val" %>
          </div>
          <div class="form-group">
            <%= f.submit "Post", class: "form-control btn btn-default" %>
          </div>
          <% end %>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="all-comments">
          <div class="indiv-comment">
            <strong><p class="comment-title"></p></strong>
            <p class="comment-body"></p>

            <% @book.comments.each do |comment| %>
              <strong><p><%= comment.title %></p></strong>
              <p><%= comment.body %></p>
            <% end %>
          </div>

        </div>
      </div>


    </div>

