<%= render "nav" %>
<%= render "header"  %>

<div class="row">
    <div class="col-xs-12 amazon">
      <p>Already read it? <a href="javascript:void(0);" id="header-bottom-discussions">Click here to join the discussion!</a></p>
    </div>
  </div>

<div class="panel-body">
  <div class="row">
    <!-- previous button -->
    <% if @book.id != 1 %>
      <a href="/books/<%= @book.id - 1%>" class="prev">Previous</a>
    <% end %>
    <!-- next button -->
    <% if @book.id != @books %>
      <a href="/books/<%= @book.id + 1%>" class="next">Next</a>
    <% end %>
  </div>

  <div class="row">
    <div class="row-center">

      <!-- book image -->
      <div class="col-xs-4 col-xs-offset-1">
        <a href="<%= @book.link %>" target="_blank"><img src="<%= @book.lg_img  %>"></a>
      </div>

      <!-- description -->
      <div class="col-xs-6">
        <div class="book-description right-panel">
          <h3><%= @book.title %></h3>
          <h4><%= @book.author %></h4>
          <p><strong>Description:</strong></p>
          <p><%=raw @book.description  %></p>
        </div>
        <div class="buttons right-panel">
          <% if @current_user %>
              <% if !@this_book %>
                <!-- updates status of the book for user -->
                <p id="book-status"></p>
                <!-- button to add to read -->
                <form action="/books/<%= @book.id %>/favorites" method="post" class="read-it">
                <%= token_tag form_authenticity_token %>
                  <input type="hidden" name="favorite[status]" class="read-val" value="read">
                  <div class="form-group">
                    <input type="submit" value="I've Read It!" class="form-control btn btn-default" id="read-button">
                  </div>
                </form>

                <!-- button to add to queue -->
                <form action="/books/<%= @book.id %>/favorites" method="post" class="queue-it">
                <%= token_tag form_authenticity_token %>
                  <input type="hidden" name="favorite[status]" class="queue-val" value="queue">
                  <div class="form-group">
                    <input type="submit" value="Add to Queue" class="form-control btn btn-warning" id="queue-button">
                  </div>
                </form>

              <!-- if already added to list -->
              <% else %>
                <p class="info-text"><strong>This book is already on your list!</strong></p>
                <div class="form-group">
                  <button class="form-control btn btn-default disabled">I've Read It!</button>
                </div>
                <div class="form-group">
                  <button class="form-control btn btn-warning disabled">Add to Queue</button>
                </div>
              <% end %>

          <!-- if not logged in-->
          <% else %>
            <p class="info-text"><strong>Signup to create a reading list!</strong></p>
              <div class="form-group">
                <button class="form-control btn btn-default disabled">I've Read It!</button>
              </div>
              <div class="form-group">
                <button class="form-control btn btn-warning disabled">Add to Queue</button>
              </div>
          <% end %>
        </div>

        <!-- DISCUSSION AREA HIDDEN ON LOAD, SHOW ON CLICK -->
        <div class="discussions-hidden">
          <h4>Discussions about <%= @book.title %> </h4>
          <div class="all-comments">
            <h5>Share your favorite quote!</h5>
             <span class="comment-toggle"><a href="javascript:void(0);">See full discussion</a></span></p>
              <%= form_for ([@comment, @comment]) do |f| %>
                <%= f.text_field :body, class: "form-control comment-on-comment"  %>
              <% end %>
             <p class="comment-body"><%= comment.body %></p>

            <% @book.comments.each do |comment| %>
              <div class="indiv-comment">
                <p><strong><%= comment.title %></strong>
                <br>
               <!--  <span class="comment-toggle"><a href="javascript:void(0);">See full discussion</a></span></p> -->
                <p class="comment-body"><%= comment.body %></p>
              </div>
            <% end %>
          </div>

           <div class="form-group">
            <%= form_for ([@book, @comment]) do |f| %>
            <div class="form-group">
              <%= f.label :title, "Start a new discussion:" %>
              <%= f.text_field :title, class: "form-control", id: "title-val", placeholder: "What's your discussion topic?" %>
            </div>
            <div class="form-group">
              <%= f.label :body, "Include a comment:" %>
              <%= f.text_area :body, class: "form-control", id: "body-val", placeholder: "Go ahead, start the conversation. With a riveting question, perhaps?" %>
            </div>
            <div class="form-group">
              <%= f.submit "Post", class: "form-control btn btn-default" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- closing panel-body -->
</div>

